body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.background-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter:brightness(0,8)
}

.container {
    position: absolute;
    right: 32px;
    top: 16px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link {
    color: black;
    text-decoration: none;
    margin: 16px; 
}

.menu-link:hover {
    text-decoration: underline;
    color: black;
}

.button:hover {
    text-decoration: none;
    color: black;
}

.logo-image {
    position: absolute;
    left: 32px;
    top: 20px;
    max-height: 590px;
    max-width: 590px;
}

.Willkommen-anschrifft {
    position: absolute;
    left: 100px;
    top: 400px;
    color: black;
    font-size: 70;
    width: 500px;
    text-shadow: 5px 5px 5px rgba(75, 110, 124, 1);
}

.white {
    color: rgba(250, 249, 249, 0.897);
}

.button {
    background-color: rgb(8, 50, 134);
    padding: 8px 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(75, 110, 124, 1);
}

.button2 {
    background-color: rgb(212, 109, 11);
    padding: 8px 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(75, 110, 124, 1);
}

.char3 {
    position: absolute;
    left: 0px;
    top: 202px;
    max-height: 500px;
    max-width: 500px;
}

.half-widht {
    width: 100%;
}

.description {
    height: 300px;
    padding: 30px 100px;
    display: flex;
    gap: 50px;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    font-size: 50px;  
    position: absolute;
    left: 100px;
    top: 300px;
    color: black;
    font-size: 70;
    width: 500px;
    text-shadow: 5px 5px 5px rgba(75, 110, 124, 1);
}

.youtube {
    width: 100%;
}

.text-wall {
    position: absolute;
    top: 300px;
    left: 90px;
}

.logo-image2 {
    position: absolute;
    top: 750px;
    left: 100px;
    max-width: 1550px;
    max-height: 1550px;
}

.button2{
    box-shadow: 5px 5px 15px rgba(75, 110, 124, 1);
}

.text-wall2 {
    position: absolute;
    top: 100px;
    left: 580px;
    max-width: 2000px;
    max-height: 2000px;
    box-shadow: 5px 5px 15px rgba(75, 110, 124, 1);
}

.fa-solid {
    color: #323036;
}

.werbung {
    position: absolute;
    top: 35px;
    left: 390px;
    max-width: 350px;
    max-height: 350px;
}


@media (max-width: 1400px) {
    .youtube {
        width: 100vw;
        height: 56.25vw;
    }
    .description {
        flex-direction: column;
        align-items: center;
        height: unset;
    }
    .char1 {
        flex-direction: column;
        align-items: center;
        height: unset;
    }
    .Willkommen-anschrifft {
        flex-direction: column;
        align-items: center;
        height: unset;
    }
    .half-widht {
    width: unset;
    }
    .navigation {
        display: none;
    }
}