body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.background-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter:brightness(0,8)
}

.container {
    position: absolute;
    right: 32px;
    top: 16px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link {
    color: black;
    text-decoration: none;
    margin: 16px; 
}

.menu-link:hover {
    text-decoration: underline;
}

.logo-image {
    position: absolute;
    left: 32px;
    top: 20px;
    max-height: 590px;
    max-width: 590px;
}

.Willkommen-anschrifft {
    position: absolute;
    left: 100px;
    top: 500px;
    color: black;
    font-size: 70;
    width: 500px;
    text-shadow: 5px 5px 5px rgba(75, 110, 124, 1);
}

.white {
    color: rgba(36, 36, 36, 0.897);
}

.button {
    background-color: rgb(8, 50, 134);
    padding: 8px 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(75, 110, 124, 1);
}

.button2 {
  background-color: #fa6400;
  padding: 8px 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(75, 110, 124, 1);
}

.char2 {
    position: absolute;
    right: 270px;
    top: 135px;
    max-height: 900px;
    max-width: 900px;
}

.produkt1-img {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    left: 50px;
    top: 150px;
}

.produkt2-img {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    right: 50px;
    top: 150px;
}

.produkt3-img {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    right: 50px;
    top: 500px;
}

.produkt4-img {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    left: 50px;
    top: 500px;
}

  .wall {
    position: absolute;
    top: 674px;
    left: 0px;
    max-height: 2000px;
    max-width: 2000px;
  }

  .button-1 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #373f55;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-1:hover,
.button-1:focus {
  background-color: #a84604;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-1:hover {
  transform: translateY(-1px);
}

.button-1:active {
  background-color: #fa6400;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.p1 {
  position: absolute;
  top: 438px;
  left: 240px;
}

.p2 {
  position: absolute;
  top: 790px;
  left: 240px;
}

.p3 {
  position: absolute;
  top: 790px;
  right: 240px;
}

.p4 {
  position: absolute;
  top: 438px;
  right: 240px;
}

.white {
  color: rgba(250, 249, 249, 0.897);
}

.half-widht {
  width: 100%;
}

.description {
  height: 300px;
  padding: 30px 100px;
  display: flex;
  gap: 50px;
  font-size: 30px;
}

h3 {
  font-size: 50px;  
  position: absolute;
  left: 100px;
  top: 300px;
  color: black;
  font-size: 70;
  width: 500px;
  text-shadow: 5px 5px 5px rgba(75, 110, 124, 1);
}

.fa-solid {
    color: #323036;
}
  
  @media (min-width: 768px) {
    .produkt2-button {
      font-size: 24px;
      min-width: 196px;
    }
  }

@media (max-width: 1400px) {
    .char2 {
        flex-direction: column;
        align-items: center;
        height: unset;
    }
    .Test1 {
        flex-direction: column;
        align-items: center;
        height: unset;
    }
    .half-widht {
    width: unset;
    }
    .navigation {
        display: none;
    }
}
